<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - Levan Kelesidis Blog</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <environment exclude="Development">
        @* TODO: add cdn and dont forget to fallback*@
    </environment>

</head>
<body>
    <header>
        <nav role="navigation">
            <div id="logo">
                @if (@Context.Request.Path == "/")
                {
                    <h1 id="site-title"><a title="Levanotes - Levan Kelesidis Blog" rel="home" asp-area="" asp-page="/Index">LevaNotes</a></h1>
                }
                else
                {
                    <p id="site-title"><a title="Levan Kelesidis" rel="home" asp-area="" asp-page="/Index">LevaNotes</a></p>
                }
            </div>
            @*<ul>
                <li>
                    <a asp-area="" asp-page="/Blog/Index">Blog</a>
                </li>
                <li class="">
                    <a class="" asp-area="" asp-page="/CV">CV</a>
                </li>
            </ul>*@
        </nav>
    </header>
    <div class="site-container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            <p>Copyright &copy; Levan Kelesidis -  @DateTime.Now.Year</p>
        </div>
    </footer>

    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
