header {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    font-family: $font-ibm;

    a {
        color: black;
        text-decoration: none;
    }

    nav {
       display: flex;
       justify-content:center;

        #logo {

            a {
                font-size: 1.8rem;
                font-weight: 500;
            }
        }

        ul {
           display:none;
        }
    }
}

@include media-up(sm) {
    header {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;


        nav {
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: baseline;

            #logo {
                margin-left: 0.5rem;
            }

            ul {
                display: flex;
                list-style: none;
                grid-column: 2/-1;
                justify-content: space-evenly;
            }
        }
    }
}

@include media-up(md) {
    header {
        max-width: 950px
    }
}