$clr-primary: #02CAE5;
$clr-secondary: #5AB900;
$clr-light-gray: #E8E8E8;
$clr-dark-gray: #3C3C3C;

$text-font-size: 1.1rem;

$font-ibm: 'IBM Plex Sans', 'Chap', Arial;
$font-fira: 'Fira Code', 'Lucida Console', 'Courier New', Courier, monospace, Consolas;
$font-lora: Lora, Georgia, sans-serif;

// like by BS
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$site-container-width: 700px;


