$clr-primary: #02CAE5;
$clr-secondary: #5AB900;

$font-ibm: 'IBM Plex Sans', 'Chap', Arial;
$font-fira: 'Fira Code', 'Lucida Console', 'Courier New', Courier, monospace, Consolas;
$font-lora: Lora, Georgia, sans-serif;

// like by BS
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



