@page "/{lang}/{cat}/{slug}/"
@model LK.Pages.Blog.PostModel
@{
    ViewData["Title"] = Model.Post.Title;
}


<div class="post-wrapp">
    <markdown Filename="@Model.Post.FilePath"></markdown>
</div>

<div class="github-box">
    <h2>
        You can comment, suggest an edit (fix my typos/grammar) on Github*.
    </h2>
    <p>
        Link to the post on Github
        <a href="https://github.com/liova99/levanotes.com/tree/master/LK/wwwroot/@Model.Post.FilePath" target="_blank">
            @Model.Post.Title
        </a>
    </p>
    
    <p class="post-wrap-note">
        * Please don't be rude. If being rude makes you feed good, there is a problem. If you don't see any problem with that, that means there is a big problem!
    </p>

</div>