@page
@model IndexModel
@{
    ViewData["Title"] = "Levan Kelesidis Blog";
}

<div class="site-container">

    @{
        int index = 0;
    }

    @foreach (var post in Model.Posts)
    {
        ViewData["IsFirst"] = false;
        if (index == 0)
        {
            ViewData["IsFirst"] = true;
        }
        <partial name="~/Pages/Shared/Partial/_PostPreviewPartial.cshtml" view-data="ViewData" model="post" />

        index++;
    }
</div>