@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="site-container">
    <div id="start-page">
        <p>Hey, This website is under redesign</p>
        <br />
        <h2>Check Levan's Blog instead <a asp-page="Blog/Index">Latest Posts</a></h2>
    </div id="start-page">
</div>

