* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: Lora, Georgia, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
  overflow-wrap: break-word;
}

li {
  font-family: Lora, Georgia, sans-serif;
  font-size: 1.1rem;
}

a {
  color: #02CAE5;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #02CAE5;
  opacity: 0.9;
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
}

h1, h2, h3 {
  font-family: "IBM Plex Sans", "Chap", Arial;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
}
footer p {
  font-size: 0.9rem;
}

pre {
  border: 1px solid #e7eaed;
  border-radius: 3px;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

code {
  font-family: "Fira Code", "Lucida Console", "Courier New", Courier, monospace, Consolas;
  font-size: 0.7rem;
  font-weight: 300;
  background-color: #E8E8E8;
  padding: 0.1rem;
  scrollbar-width: thin;
}
code::-webkit-scrollbar {
  height: 0.4rem;
}
code::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.button {
  cursor: pointer;
  padding: 0.5rem 2rem;
  color: #fff;
  background-color: #5ab900;
  border-color: #5ab900;
  border-radius: 4px;
  font-family: "IBM Plex Sans", "Chap", Arial;
}
.button:hover {
  text-decoration: none;
  border-color: #02cae5 !important;
  background-color: #02cae5 !important;
  outline: none;
  box-shadow: inset 7.81em 0 0 0 #02cae5, 0 0.3rem 0.7rem 0 rgba(0, 0, 0, 0.2) !important;
  transition: ease-in-out 0.5s;
}

.post-wrapp {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  min-height: 50vh;
}
@media (min-width: 576px) {
  .post-wrapp {
    max-width: 700px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 768px) {
  .post-wrapp {
    padding-left: 0;
    padding-right: 0;
  }
}
.post-wrapp p {
  padding-left: 1rem;
  padding-right: 1rem;
}
.post-wrapp p img {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8E8E8;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.post-wrapp .h1, .post-wrapp .h2, .post-wrapp .h3, .post-wrapp .h4, .post-wrapp .h5, .post-wrapp .h6, .post-wrapp h1, .post-wrapp h2, .post-wrapp h3, .post-wrapp h4, .post-wrapp h5, .post-wrapp h6 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

header {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}
header a {
  color: black;
  text-decoration: none;
}
header a:hover {
  text-decoration: none;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav #logo a {
  font-family: "IBM Plex Sans", "Chap", Arial;
  font-size: 1.8rem;
  font-weight: 500;
}
header nav ul {
  display: none;
}

@media (min-width: 576px) {
  header {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  header nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;
  }
  header nav #logo {
    margin-left: 0.5rem;
  }
  header nav ul {
    display: flex;
    list-style: none;
    grid-column: 2/-1;
    justify-content: space-evenly;
  }
  header nav ul a {
    font-family: "IBM Plex Sans", "Chap", Arial;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  header {
    max-width: 950px;
  }
}
.post-preview-title h2 {
  font-weight: 500;
}
/*
.post-preview-big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 4rem;

    .post-preview-content {
        display: flex;
        flex-direction: column;

        > a{
            align-self: flex-start;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .post-preview-big-img-wrapp {
        max-width: 350px;

        img {
            width: 100%;
        }
    }
}*/
.post-preview {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1000px;
  margin: 2rem auto;
}
.post-preview .post-preview-content {
  display: flex;
  flex-direction: column;
}
.post-preview .post-preview-content > a {
  align-self: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.post-preview .post-preview-img-wrapp {
  max-width: 300px;
  height: 257px;
  background-color: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-preview .post-preview-img-wrapp img {
  width: 100%;
  align-self: center;
}
@media (min-width: 576px) {
  .post-preview--big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .post-preview--small {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .post-preview--small:nth-child(2n) .post-preview-content {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .post-preview--small:nth-child(2n) .post-preview-content > a {
    align-self: flex-end;
  }
}
@media (min-width: 768px) {
  .post-preview .post-preview-img-wrapp {
    width: 350px;
    max-width: 350px;
    height: 350px;
  }
}

.post-wrapp video, .post-wrapp img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  box-shadow: 0px 0px 18px 2px #3C3C3C;
  border-radius: 4px;
}
.post-wrapp .img-std, .post-wrapp .img-port, .post-wrapp .img-land, .post-wrapp .img {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 1rem 0;
}
.post-wrapp .img-port {
  height: 464px;
}
.post-wrapp .img-land {
  height: 215px;
}
.post-wrapp .img-std {
  height: 350px;
}
@media (min-width: 576px) {
  .post-wrapp .img-std {
    height: 400px;
  }
  .post-wrapp .img-port {
    height: 635px;
  }
  .post-wrapp .img-land {
    height: 266px;
  }
}
@media (min-width: 768px) {
  .post-wrapp .img-std {
    height: 500px;
  }
  .post-wrapp .img-port {
    height: 855px;
  }
  .post-wrapp .img-land {
    height: 358px;
  }
  .post-wrapp video {
    max-height: 500px;
  }
}

.github-box {
  border-top: 2px solid #E8E8E8;
  border-bottom: 2px solid #E8E8E8;
  padding: 0.5rem;
  margin-top: 1.5rem;
}
.github-box h2 {
  font-size: 1.3rem;
}
.github-box .post-wrap-note {
  font-size: 0.9rem;
}

/*#region Typora - TOC */
/*
    This code take from typora.
    To crate toc, I take the html code
    generated from typora. 
*/
.md-toc {
  min-height: 3.58rem;
  position: relative;
  font-size: 0.9rem;
  border-radius: 10px;
}

.md-toc-content {
  position: relative;
  margin-left: 0px;
}

.md-toc-item {
  display: block;
  color: #A8C2DC;
}

.md-toc-h1 .md-toc-inner {
  margin-left: 0px;
  font-weight: 700;
}

a.md-toc-inner {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.md-toc-h1 .md-toc-inner {
  margin-left: 0px;
  font-weight: 700;
}

.md-toc-h2 .md-toc-inner {
  margin-left: 2em;
}

.md-toc-h3 .md-toc-inner {
  margin-left: 4em;
}

.md-toc-h4 .md-toc-inner {
  margin-left: 6em;
}

.md-toc-h5 .md-toc-inner {
  margin-left: 8em;
}

.md-toc-h6 .md-toc-inner {
  margin-left: 10em;
}

/*#endregion */

/*# sourceMappingURL=site.css.map */